.bar-admin{
  margin: 2%;
  background-color: #ffffff;
  padding: 1%;
}

.col-md-8 + .col-md-2{
  margin-top:4em;
}

.col-md-2 button{
  color:white;
  background-color: #3fb122;
  margin-left:15em;
}
