.bar-admin{
  margin: 2%;
  background-color: #ffffff;
  padding: 1%;
}

.col-md-8 + .col-md-2{
  margin-top:4em;
}

.col-md-8{
  font-size: 18px;
}

.col-md-2 button{
  color:white;
  margin-left: 18em;
  background-color: #3fb122;
}
