<div class="container-fluid">
  <section class="page-search row">
    <div class="col-md-12">
      <h4 style="margin-left: 10%; ">Detalle de herramienta</h4>
    </div>
  </section>
  <div class="row">
    <div class="clearfix"></div>
    <div class="col-12  col-md-10 offset-md-1" style="margin-top: 2%">     
      <mat-accordion class="example-headers-align" multi="true">

        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
               <h2>{{tool.name}}</h2>
            </mat-panel-title>
            <mat-panel-description>
              Información básica de la herramienta
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold"> Nombre</h6>
            </div>
            <div class="col-md-4">
              <h4>{{tool.name}}</h4>
            </div>

            <div class="col-md-2">
                <h6 class="font-weight-bold">Estado Actual</h6>
              </div>
              <div class="col-md-4">
                <label>{{tool.state}}</label>
              </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold">Descripción</h6>
            </div>
            <div class="col-md-10">
              <label class="text-justify">{{tool.description}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold">Restricciones de Uso</h6>
            </div>
            <div class="col-md-10">
              <label class="text-justify">{{tool.usage_restrictions}}</label>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold">Tipo de Licencia</h6>
            </div>
            <div class="col-md-4">
              <label>{{tool.license_type}}</label>
            </div>

            <div class="col-md-2">
              <h6 class="font-weight-bold">Versión</h6>
            </div>
            <div class="col-md-4">
              <label>{{tool.version}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold">Intregración LMS</h6>
            </div>
            <div class="col-md-10">
              <label class="text-justify">{{tool.integration_lms}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold">Url Sitio</h6>
            </div>
            <div class="col-md-10">
              <label>
                <a href="{{tool.urlSite}}" target="_blank">{{tool.url_site}}</a>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h6 class="font-weight-bold">Url de Descarga</h6>
            </div>
            <div class="col-md-10">
              <label>{{tool.url_download}}</label>
            </div>
          </div>

          <mat-action-row>          
            <button [hidden]="!git" id="btnVerificar" type="button" color="primary" mat-raised-button (click)="tool.state='Revisado';reviewTool()"  matTooltip="Enviar concepto de verificado" >
              <mat-icon aria-label="">check</mat-icon>Verificado
            </button>

            <button mat-raised-button id="Publicar" [hidden]="!admin" type="button" color="primary" (click)="tool.state='Publicado';publishTool()"  matTooltip="Publicar herramienta">
                <mat-icon aria-label="">check</mat-icon>Publicar
            </button>

          </mat-action-row>

        </mat-expansion-panel>

        <app-list-example [idTool]="idTool"></app-list-example>
        <br/>
        <app-list-tutorial [idTool]="idTool"></app-list-tutorial>

      </mat-accordion>

    </div>
  </div>

</div>