<!--<mat-toolbar color="primary">
    <ul class="nav">
      <li class="nav-item" ><a class="nav-link" [routerLink]="['/home']" >Inicio</a></li>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['/tool']" >Agregar herramienta</a></li>
      <li class="nav-item" ><a class="nav-link" [routerLink]="['tool/lista']" >Ingreso Admin</a></li>

      <li class="nav-item" ><a class="nav-link" [routerLink]="['tool/drafts']" >Ingreso Asesor</a></li>
      <li class="nav-item" >
        <a class="nav-link" (click)="closeSession()" style="cursor: pointer; color: white; text-decoration: none" >Cerrar sesión</a>
      </li>
    </ul>
</mat-toolbar> -->

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg  navigation">
            <a class="navbar-brand" [routerLink]="['/home']">
              <img src="../assets/images/logo.png" width="250" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <button  id="btnbuild" mat-icon-button [hidden]="!git" (mouseenter)="openToolMenu()" [matMenuTriggerFor]="addtool">
              <mat-icon class="conectate-icon" style="color: blue; size: 20px">build</mat-icon>
            </button>
            <mat-menu id="menu "#addtool="matMenu">
              <span mat-menu-item class="nav-link" [routerLink]="['/tool']">Agregar Herramienta</span>
            </mat-menu>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto main-nav ">
                <li class="nav-item active">
                  <a class="nav-link" style="font-size: 20px; color:black" [routerLink]="['/home']">Inicio</a>
                </li>
                <!--<li class="nav-item">
                  <a class="nav-link" [routerLink]="['/tool']">Agregar herramienta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['tool/lista']">Ingreso Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['tool/drafts']">Ingreso Asesor</a>
                </li>-->
                <!--
                <li class="nav-item dropdown dropdown-slide">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages <span><i class="fa fa-angle-down"></i></span>
                  </a> -->
                  <!-- Dropdown list -->
                <!--
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="category.html">Category</a>
                    <a class="dropdown-item" href="single.html">Single Page</a>
                    <a class="dropdown-item" href="store-single.html">Store Single</a>
                    <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                    <a class="dropdown-item" href="user-profile.html">User Profile</a>
                    <a class="dropdown-item" href="submit-coupon.html">Submit Coupon</a>
                    <a class="dropdown-item" href="blog.html">Blog</a>
                    <a class="dropdown-item" href="single-blog.html">Single Post</a>
                  </div>
                </li>-->
                <li class="nav-item dropdown dropdown-slide" *ngIf="!sesion">
                  <a class="nav-link dropdown-toggle" style="font-size: 20px" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ¿Eres miembro conectate?<span><i class="fa fa-angle-down"></i></span>
                  </a>
                  
                  <!-- Dropdown list -->
                
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="sesion='true'; admin='true'" [routerLink]="['tool/lista']">Inicio Admin</a>
                    <a class="dropdown-item" (click)="git='true'; disabled='true'; sesion='true'" [routerLink]="['tool/drafts']">Inicio Asesor</a>
                  </div>
                </li> 
  
                <li class="nav-item dropdown dropdown-slide" *ngIf="git">
                  <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" style="font-size: 20px;" aria-haspopup="true" aria-expanded="false">
                    Carlos<span><i class="fa fa-angle-down"></i></span>
                  </a>
                  
                  <!-- Dropdown list -->
                
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="closeSession()">Cerrar sesión</a>
                  </div>
                </li> 

                <li class="nav-item dropdown dropdown-slide" *ngIf="admin">
                  <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" style="font-size: 20px;" aria-haspopup="true" aria-expanded="false">
                   Santiago<span><i class="fa fa-angle-down"></i></span>
                  </a>
                  
                  <!-- Dropdown list -->
                
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="closeSession()">Cerrar sesión</a>
                  </div>
                </li> 
  
              </ul>
              <!--<ul class="navbar-nav ml-auto mt-10">
                <li class="nav-item">
                  <a class="nav-link login-button" (click)="closeSession()" style="cursor: pointer;">Cerrar sesión</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link add-button" href="#"><i class="fa fa-plus-circle"></i> Add Listing</a>
                </li>
                
              </ul>-->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>

  <footer>
      <hr/>
    <div class="container-fluid">
        <p class="text-muted">Universidad de los Andes, 2018.</p>
      </div>
</footer>

  <!--
  <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" #sidenav opened="true">
          <ul class="nav">
              <li class="nav-item" ><a class="nav-link" [routerLink]="['/home']" >Inicio</a></li>
              <li class="nav-item" ><a class="nav-link" [routerLink]="['/tool']" >Agregar herramienta</a></li>
              <li class="nav-item" ><a class="nav-link" [routerLink]="['tool/lista']" >Ingreso Admin</a></li>
  
              <li class="nav-item" ><a class="nav-link" [routerLink]="['tool/drafts']" >Ingreso Asesor</a></li>
              <li class="nav-item" >
                  <a class="nav-link" (click)="closeSession()" style="cursor: pointer; color: #007bff;" >Cerrar sesión</a>
                </li>
          </ul>
      </mat-sidenav>
      <mat-sidenav-content>
  
      </mat-sidenav-content>
  </mat-sidenav-container>-->
  
  
  
  